*,
*:after,
*:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: "Gilroy", sans-serif;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts-gilroy/gilroy-light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("gilroy-regular"),
    url("../fonts-gilroy/gilroy-regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("gilroy-medium"),
    url("../fonts-gilroy/gilroy-medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("gilroy-bold"),
    url("../fonts-gilroy/gilroy-bold.woff") format("woff");
}
img {
  width: 100%;
  max-width: 100%;
}
.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fafafa;
}
.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-logo {
  width: 60px;
}
@media screen and (min-width: 576px) {
  .page-logo {
    width: 46px;
  }
}
.main-nav {
  display: none;
}
.main-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav-list-item {
  padding-right: 12px;
}
.main-nav-list-item:last-child {
  padding-right: 0;
}
.main-nav-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 4px 10px;
  line-height: 22px;
  font-size: 18px;
}
@media screen and (min-width: 576px) {
  .main-nav {
    display: flex;
    padding-left: 6%;
  }
  .main.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .main-nav-link {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  .main-nav-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav-link {
    font-size: 18px;
  }
}
.nav-btn {
  font-size: 18px;
  line-height: 22px;
  color: #f7941e;
  background: #fafafa;
  padding: 12px 22px;
  border: 1px solid #f7941e;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.nav-btn:hover {
  color: #fff;
  background: #f7941e;
  box-shadow: 0 0 8px #f5a84a;
}
.nav-btn:focus {
  color: #fff;
  background: #f7941e;
  box-shadow: 0 0 8px #f5a84a;
}
.nav-btn:active {
  color: #fff;
  background: #f7941e;
  opacity: 0.5;
}
@media screen and (min-width: 576px) {
  .nav-btn {
    font-size: 14px;
    padding: 8px 18px;
  }
}
@media screen and (min-width: 992px) {
  .nav-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav {
    padding-left: 6%;
  }
  .nav-btn {
    font-size: 18px;
    padding: 14px 24px;
  }
}
.hero-section {
  background: #f1f1f2;
  color: #000;
  padding-top: 30px;
  padding-bottom: 36px;
}
.hero-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.main-title {
  margin: 0;
  font-weight: 700;
  line-height: normal;
  font-size: 42px;
  padding-bottom: 36px;
}
.plain-text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 32px;
}
.main-btn {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background: #f7941e;
  padding: 23px 26px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-bottom: 32px;
  position: relative;
  cursor: pointer;
}
.main-btn:before,
.main-btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.main-btn:before {
  bottom: 2%;
  left: 0;
  border-left: 2px solid #fff;
  border-top: 2px solid#fff;
  border-radius: 5px;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}
.main-btn:after {
  top: 3%;
  right: 0;
  border-right: 2px solid #f78e0e;
  border-bottom: 2px solid #f78e0e;
  border-radius: 5px;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
.main-btn:hover:before,
.main-btn:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.main-btn:hover:before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}
.main-btn:hover:after {
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}
.main-btn:hover {
  color: #ff5100;
  background: #f8d9b6;
  opacity: 0.8;
}
.main-btn:focus:before,
.main-btn:focus:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.main-btn:focus:before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}
.main-btn:focus:after {
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}
.main-btn:focus {
  color: #ff5100;
  background: #f8d9b6;
  opacity: 0.8;
}
.main-btn:active {
  background: #fff;
  color: #f14c00;
}
@media screen and (min-width: 576px) {
  .hero-flex {
    flex-wrap: nowrap;
    text-align: unset;
  }
  .hero-col {
    width: 50%;
  }
  .hero-section {
    padding-top: 30px;
    padding-bottom: 36px;
  }
  .main-title {
    font-size: 30px;
    padding-bottom: 16px;
    line-height: normal;
    padding-right: 18px;
  }
  .plain-text {
    font-size: 14px;
    padding-bottom: 32px;
    padding-right: 28px;
  }
  .main-btn {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 20px 22px;
  }
  .happy-couple-image {
    padding-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 36px;
    padding-bottom: 26px;
    padding-right: 26%;
  }
  .plain-text {
    font-size: 18px;
    padding-bottom: 40px;
    padding-right: 16%;
  }
  .main-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 22px 26px;
  }
}
@media screen and (min-width: 992px) {
  .hero-section {
    padding-top: 50px;
    padding-bottom: 56px;
  }
  .main-title {
    font-size: 46px;
    line-height: 60px;
    padding-bottom: 36px;
    padding-right: 36%;
  }
  .plain-text {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 46px;
  }
  .main-btn {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 70px;
    padding-bottom: 76px;
  }
  .main-title {
    font-size: 56px;
    line-height: 70px;
  }
  .plain-text {
    padding-bottom: 52px;
    padding-right: 28%;
  }
  .main-btn {
    padding: 22px 36px;
  }
  .happy-couple-image {
    padding-left: 30px;
  }
}
.how-we-work-section {
  background: #f1f1f2;
}
.how-we-work-title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 24px;
  font-weight: normal;
}
.how-we-work-plain-text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 32px;
}
.learn-more-btn {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 36px;
  color: #f7941e;
  background: #fafafa;
  padding: 12px 22px;
  border: 1px solid #f7941e;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.learn-more-btn:hover {
  color: #fff;
  background: #f7941e;
  box-shadow: 0 0 8px #f5a84a;
}
.learn-more-btn:focus {
  color: #fff;
  background: #f7941e;
  box-shadow: 0 0 8px #f5a84a;
}
.learn-more-btn:active {
  color: #fff;
  background: #f7941e;
  opacity: 0.5;
}
@media screen and (min-width: 576px) {
  .how-we-work-title {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 14px;
  }
  .space-how-we-work-section {
    padding-left: 7%;
  }
  .how-we-work-plain-text {
    font-size: 14px;
    padding-bottom: 20px;
    text-align: justify;
  }
  .thanks-picture {
    height: 86%;
  }
  .learn-more-btn {
    font-size: 14px;
    padding: 8px 18px;
  }
}
@media screen and (min-width: 768px) {
  .how-we-work-title {
    font-size: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .how-we-work-plain-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .how-we-work-title {
    font-size: 28px;
    padding-top: 38px;
    padding-bottom: 24px;
  }
  .space-how-we-work-section {
    padding-left: 9%;
    padding-right: 3%;
  }
  .how-we-work-plain-text {
    font-size: 18px;
    padding-bottom: 28px;
  }
  .thanks-picture {
    height: auto;
  }
  .learn-more-btn {
    margin: 0;
    font-size: 18px;
    padding: 20px 46px;
  }
  .how-we-work-section {
    padding-bottom: 128px;
  }
}
@media screen and (min-width: 1280px) {
  .how-we-work-title {
    font-size: 32px;
    line-height: 45px;
    padding-top: 68px;
  }
  .space-how-we-work-section {
    padding-left: 130px;
    padding-right: 18px;
  }
  .how-we-work-plain-text {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 36px;
  }
  .how-we-work-section {
    padding-bottom: 128px;
  }
}
.gifts-section {
  background: #fff;
  color: #000;
  padding-top: 30px;
  padding-bottom: 36px;
}
.gifts-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.gifts-title {
  margin: 0;
  padding-bottom: 24px;
  font-weight: normal;
}
.gifts-plain-text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 32px;
}
.gifts-list-item {
  margin-bottom: 32px;
}
.gifts-for-the-holidays-title {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.see-more-btn {
  background: none;
  cursor: pointer;
  line-height: 20px;
  margin-bottom: 36px;
  padding: 8px 18px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #000;
}
.see-more-btn:hover {
  color: #f7941e;
  background: #fafafa;
  border: 1px solid #f7941e;
  box-sizing: border-box;
  border-radius: 5px;
  outline: transparent;
}
.see-more-btn:focus {
  color: #f7941e;
  background: #fafafa;
  border: 1px solid #f7941e;
  box-sizing: border-box;
  border-radius: 5px;
  outline: transparent;
}
.see-more-btn:active {
  background: #f7941e;
  color: #fff;
}
@media screen and (min-width: 576px) {
  .gifts-title {
    font-size: 20px;
    padding-bottom: 14px;
  }
  .gifts-plain-text {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .gifts-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
  }
  .gifts-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 406px;
    width: 49%;
    margin-right: 10px;
    background: #fafafa;
  }
  .gifts-list-item:hover {
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
  .gifts-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .gifts-for-the-holidays-title {
    padding-top: 18px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .gifts-title {
    font-size: 24px;
    padding-bottom: 18px;
  }
  .gifts-plain-text {
    font-size: 16px;
    padding-bottom: 30px;
  }
  .gifts-for-the-holidays-title {
    font-size: 20px;
  }
  .see-more-btn {
    font-size: 16px;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 992px) {
  .gifts-section {
    padding-top: 66px;
    padding-bottom: 100px;
  }
  .gifts-title {
    font-size: 28px;
    padding-bottom: 20px;
  }
  .gifts-plain-text {
    font-size: 18px;
    padding-bottom: 40px;
  }
  .gifts-list {
    flex-wrap: nowrap;
  }
  .gifts-list-item {
    margin-bottom: 0;
    align-items: flex-start;
    height: 386px;
    width: 24%;
  }
  .gifts-list-item:nth-child(1n) {
    margin-right: 20px;
  }
  .gifts-list-item:last-child {
    margin-right: 0;
  }
  .gifts-for-the-holidays-title {
    padding-top: 18px;
    padding-bottom: 74px;
    padding-left: 18px;
    font-size: 18px;
  }
  .see-more-btn {
    margin-left: 18px;
    padding-right: 2px;
    padding-left: 2px;
    margin-bottom: 20px;
    line-height: 19px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .gifts-section {
    padding-top: 96px;
    padding-bottom: 138px;
  }
  .gifts-title {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 24px;
  }
  .gifts-plain-text {
    padding-bottom: 64px;
    line-height: 24px;
  }
  .gifts-list-item {
    height: 436px;
    width: 24%;
  }
  .gifts-list-item:nth-child(1n) {
    margin-right: 30px;
  }
  .gifts-list-item:last-child {
    margin-right: 0;
  }
  .gifts-for-the-holidays-title {
    padding-top: 24px;
    padding-bottom: 66px;
    padding-left: 24px;
    font-size: 20px;
  }
  .see-more-btn {
    margin-left: 24px;
    margin-bottom: 24px;
  }
}
.sign-up-or-contact-us-section {
  background: #f7941e;
}
.contact-us-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #000;
}
.contact-us-list-item {
  padding-bottom: 30px;
}
.get-started-title {
  margin: 0;
  padding-top: 30px;
  font-weight: 700;
  line-height: 46px;
}
.contact-us-plain-text {
  margin: 0;
  font-size: 24px;
}
.contact-us-btn {
  font-size: 16px;
  padding: 12px 18px;
  margin-bottom: 8px;
  background: none;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.contact-us-btn:hover {
  background: #231f20;
  color: #fff;
  border: 1px solid #231f20;
}
.contact-us-btn:focus {
  background: #231f20;
  color: #fff;
  border: 1px solid #231f20;
}
.contact-us-btn:active {
  background: #231f20;
  color: #fff;
  opacity: 0.8;
}
@media screen and (min-width: 576px) {
  .get-started-title {
    font-size: 20px;
  }
  .contact-us-plain-text {
    font-size: 20px;
  }
  .contact-us-btn {
    margin-bottom: 0;
    margin-right: 14px;
    padding: 16px 22px;
  }
  .contact-us-btn:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .get-started-title {
    padding: 0;
    font-size: 24px;
  }
  .contact-us-plain-text {
    font-size: 24px;
  }
  .contact-us-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contact-us-list-item {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .get-started-title {
    font-size: 28px;
  }
  .contact-us-plain-text {
    font-size: 28px;
  }
  .contact-us-btn {
    margin-right: 16px;
    padding: 16px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-us-list {
    padding-top: 82px;
    padding-bottom: 70px;
  }
  .contact-us-list-item {
    text-align: left;
  }
  .get-started-title {
    font-size: 32px;
    line-height: 45px;
  }
  .contact-us-plain-text {
    font-size: 32px;
    line-height: 45px;
  }
  .contact-us-btn {
    padding: 16px 34px;
    font-size: 18px;
  }
}
.best-blogs-section {
  background: #fff;
}
.best-blogs-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.best-blogs-title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: normal;
}
.best-blogs-plain-text {
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 32px;
}
.best-blogs-read-more-list {
  background: #231f20;
  color: #fff;
}
.read-more-picture {
  display: flex;
}
.best-blogs-list-item {
  display: flex;
  flex-direction: column;
}
.name-in-the-best-blogs-list-item {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.best-blogs-list-item-title {
  margin: 0;
  padding-bottom: 30px;
  font-weight: normal;
}
.best-blogs-list-item-btn {
  font-weight: normal;
  outline: transparent;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 20px;
  margin-bottom: 36px;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #231f20;
  width: 50%;
  align-self: center;
}
.best-blogs-list-item-btn:hover {
  color: #f7941e;
  background: #fafafa;
  border: 1px solid #f7941e;
  box-sizing: border-box;
  border-radius: 5px;
  outline: transparent;
}
.best-blogs-list-item-btn:focus {
  color: #f7941e;
  background: #fafafa;
  border: 1px solid #f7941e;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}
.best-blogs-list-item-btn:active {
  background: #f7941e;
  color: #fff;
}
.information-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.information-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information-list-item-title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
}
.information-list-item-plain-text {
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 32px;
}
.information-list-item-btn {
  font-weight: normal;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 18px;
  padding: 8px 16px;
  width: 50%;
  color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
}
.information-list-item-btn:hover {
  color: #f7941e;
  background: #fafafa;
  border: 1px solid #f7941e;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}
.information-list-item-btn:focus {
  color: #f7941e;
  background: #fafafa;
  border: 1px solid #f7941e;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}
.information-list-item-btn:active {
  background: #f7941e;
  color: #fff;
}
@media screen and (min-width: 576px) {
  .best-blogs-title {
    font-size: 20px;
    padding-bottom: 14px;
  }
  .best-blogs-plain-text {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .best-blogs-read-more-list {
    display: flex;
    justify-content: space-between;
  }
  .best-blogs-list-item {
    width: 50%;
    justify-content: center;
  }
  .name-in-the-best-blogs-list-item {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 24px;
  }
  .best-blogs-list-item-title {
    font-size: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .best-blogs-list-item-btn {
    margin: 0;
  }
  .information-list-item {
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .information-list-item:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
}
@media screen and (min-width: 768px) {
  .best-blogs-title {
    font-size: 24px;
    padding-bottom: 18px;
  }
  .best-blogs-plain-text {
    font-size: 16px;
    padding-bottom: 40px;
  }
  .best-blogs-list-item {
    justify-content: space-around;
    align-items: flex-start;
  }
  .first-part-of-best-blogs {
    width: 40%;
  }
  .second-part-of-best-blogs {
    width: 60%;
  }
  .name-in-the-best-blogs-list-item {
    padding-left: 12%;
  }
  .best-blogs-list-item-title {
    font-size: 24px;
    text-align: start;
    padding-right: 20%;
    padding-left: 12%;
  }
  .best-blogs-list-item-btn {
    margin-bottom: 0;
    padding: 8px 2px;
    margin-left: 12%;
    font-size: 16px;
    width: unset;
    align-self: unset;
  }
  .information-list {
    padding-top: 20px;
    flex-direction: row;
  }
  .information-list-item {
    margin-right: 10px;
    align-items: flex-start;
    text-align: start;
    padding-right: 18px;
    padding-left: 18px;
  }
  .information-list-item:last-child {
    margin-right: 0;
  }
  .information-list-item-plain-text {
    text-align: justify;
    font-size: 16px;
  }
  .information-list-item-btn {
    width: unset;
    font-size: 14px;
    padding: 8px 2px;
  }
}
@media screen and (min-width: 992px) {
  .best-blogs-title {
    font-size: 28px;
    padding-top: 48px;
    padding-bottom: 20px;
  }
  .best-blogs-plain-text {
    font-size: 18px;
    padding-bottom: 60px;
  }
  .first-part-of-best-blogs {
    width: 30%;
  }
  .second-part-of-best-blogs {
    width: 70%;
    padding-top: 44px;
    padding-bottom: 24px;
  }
  .name-in-the-best-blogs-list-item {
    padding-left: 14%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .best-blogs-list-item-title {
    padding-left: 14%;
    font-size: 38px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .best-blogs-list-item-btn {
    margin-left: 14%;
    font-size: 18px;
  }
  .information-list {
    padding-bottom: 60px;
  }
  .information-list-item {
    margin-right: 20px;
    padding-right: 28px;
    padding-left: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .best-blogs-title {
    font-size: 32px;
    line-height: 38px;
    padding-top: 88px;
    padding-bottom: 24px;
  }
  .best-blogs-plain-text {
    line-height: 24px;
    padding-bottom: 72px;
  }
  .best-blogs-read-more-list {
    width: 100%;
  }
  .first-part-of-best-blogs {
    width: unset;
  }
  .second-part-of-best-blogs {
    width: 66%;
    justify-content: unset;
    padding-top: 64px;
    padding-bottom: 42px;
  }
  .name-in-the-best-blogs-list-item {
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 28px;
  }
  .best-blogs-list-item-title {
    font-size: 48px;
    line-height: 58px;
    padding-bottom: 52px;
    padding-right: 16%;
  }
  .best-blogs-list-item-btn {
    font-weight: 300;
    font-size: 18px;
  }
  .information-list {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .information-list-item {
    margin-right: 30px;
    padding: 48px 48px 50px;
  }
  .information-list-item-title {
    font-size: 24px;
    line-height: 34px;
    padding-top: 0;
  }
  .information-list-item-plain-text {
    text-align: unset;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 54px;
  }
}
.footer-section {
  background: #fafafa;
  padding-bottom: 36px;
}
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer-list-item {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-footer-list-item:last-child {
  padding-bottom: 0;
}
.first-footer-list-item {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
}
.horizontal-rule {
  margin: 0;
  height: 1px;
  width: 100%;
  background: #000;
}
.list-item-logo {
  width: 100%;
}
.first-footer-list-item-link {
  font-weight: 700;
  color: #000;
  font-size: 20px;
  padding: 10px 10px;
}
.first-footer-list-item-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.first-footer-list-item-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.first-footer-list-item-link:focus::after {
  width: 100%;
  transition: width 0.3s;
}
.first-footer-list {
  display: flex;
  flex-wrap: wrap;
}
.footer-icon-link-midle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  width: 50%;
}
.footer-icon-link:focus {
  background: #fff;
}
.footer-icon-link-midle:focus {
  background: #fff;
}
.style-of-icons {
  color: #000;
  font-size: 40px;
}
.style-of-icons:hover {
  color: #f14c00;
}
.style-of-icons:active {
  color: #fc9463;
}
.privacy-position {
  display: flex;
  flex-direction: column;
}
.privacy {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
}
.privacy:last-child {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer-section {
    padding-top: 40px;
  }
  .first-footer-list {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }
  .first-footer-list-item {
    padding: 0 16px;
    width: 20%;
  }
  .list-item-logo {
    width: 20%;
  }
  .main-footer-list-item {
    flex-wrap: nowrap;
  }
  .footer-icon-link {
    width: 20%;
  }
  .footer-icon-link-midle {
    width: 20%;
  }
  .first-footer-list-item-link {
    font-size: 16px;
  }
  .privacy-position {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    padding-top: 20px;
  }
  .privacy {
    padding-bottom: 0;
    padding-right: 14px;
  }
  .privacy:last-child {
    padding-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .footer-section {
    padding-top: 80px;
  }
  .main-footer-list-item {
    display: flex;
    width: unset;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 34px;
  }
  .home-about-link {
    padding-right: 60px;
  }
  .home-about-link:nth-child(2) {
    padding-right: 0;
  }
  .first-footer-list-item {
    width: unset;
  }
  .horizontal-rule {
    width: 94%;
  }
  .footer-icon-link {
    margin-right: 26px;
  }
  .footer-icon-link:last-child {
    margin-right: 0;
  }
  .footer-icon-link-midle {
    margin-right: 26px;
  }
  .privacy-position {
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section {
    padding-top: 106px;
  }
  .between-width {
    padding-left: 0;
    padding-right: 0;
  }
  .between-width:first-child {
    padding-right: 62px;
  }
  .between-width:last-child {
    padding-left: 34px;
  }
  .list-item-logo {
    padding-left: 132px;
    padding-right: 132px;
  }
  .first-footer-list {
    padding-bottom: 44px;
  }
  .first-footer-list-item-link {
    font-size: 14px;
  }
  .main-footer-list-item {
    padding-top: 56px;
    padding-bottom: 72px;
  }
  .horizontal-rule {
    width: 84%;
  }
}
